<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title>
        DNDFIGHT
        <v-spacer></v-spacer>
      </v-toolbar-title>
    </v-toolbar>
    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>
