<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MONSTERS</title>
</head>
<body>
    {% for monster in monsters %}
        <h4>{{monster.name}}</h4>
    {% endfor %}
</body>
</html>