<template>
  <v-container fluid>
    <v-layout row wrap>
        <v-flex xs12>
            <v-tabs>
                <v-tab :key="1">Dice</v-tab>
                <v-tab-item :key="1">
                    <v-card>
                        <v-card-title>
                            <v-flex xs5 sm4 md5>
                                <v-text-field placeholder="Enter Damage Modifier" v-model="damage"></v-text-field>
                            </v-flex>
                            <v-flex xs2 sm4 md4>  
                                <v-btn color="success" v-on:click="addDamage(damage)" v-if="this.dice_rolled===false">
                                    Add
                                </v-btn>
                            </v-flex>
                            <v-flex xs12 sm4 md3>
                                <h2>
                                    <span>Total: {{ total }}</span>
                                </h2>
                            </v-flex>
                        </v-card-title>
                        <v-flex xs12 v-for="(die, index) in dice" v-bind:key="index">           

                                <v-btn v-on:click="rollDice(die, damage)">
                                {{ die.type }}
                                </v-btn>
                                <v-chip label color="blue" text-color="white" v-if="die.done">
                                {{ die.roll }}
                                </v-chip>

                        </v-flex> 
                        <v-flex xs12>
                            <v-btn color="error" v-on:click="clear()">
                            clear
                            </v-btn>
                        </v-flex>
                    </v-card>
                </v-tab-item>
                <v-tab :key="2">Initiative</v-tab>
                <v-tab-item :key="2">
                    <v-card>
                        <v-card-title>
                            <v-flex xs9 sm9 md11> 
                                <v-text-field placeholder="Enter Name" v-model="name"></v-text-field>
                            </v-flex>
                            <v-flex xs3 sm3 md1>  
                                <v-btn dark small fab color="green" v-on:click="addToMobs(name)">
                                    <v-icon>add</v-icon>
                                </v-btn>                              
                            </v-flex>
                            <v-flex xs5 sm9 md6> 
                                <v-text-field placeholder="Enter Name" v-model="first_name"></v-text-field>
                            </v-flex>
                            <v-flex xs5 sm9 md5>
                                <v-text-field placeholder="Enter Roll" v-model="roll"></v-text-field>
                            </v-flex>
                            <v-flex xs2 sm3 md1>  
                                <v-btn dark small fab color="red" v-on:click="addToPlayers(first_name, roll)">
                                    <v-icon>add</v-icon>
                                </v-btn>                                
                            </v-flex>
                        </v-card-title>     
                        <v-flex xs12 v-for="(mob, index) in mobs" v-bind:key="`${index}mobs`">
                                <span v-if="mob.done">
                                <h3>{{mob.name}}: {{ mob.roll }}</h3>
                                </span>
                                <v-btn v-else color="success" v-on:click="getInitiative(mob)">
                                {{ mob.name }}
                                </v-btn>
                        </v-flex>
                        <v-flex xs12 v-for="(player, index) in players" v-bind:key="`${index}players`">
                            <h3>{{ player.name }}: {{player.roll}}</h3>
                        </v-flex>
                        <v-flex xs12 v-for="(i, index) in initiative_order" v-bind:key="`${index}initiative_order`">
                            <span v-if="sorted">
                            <h3>{{ i.name }}: {{i.roll}}</h3>
                            </span>
                        </v-flex>                       
                        <v-card-actions v-if="visible">
                            <v-spacer></v-spacer>
                            <v-btn disabled v-if="sorted">
                                Sort
                            </v-btn>
                            <v-btn flat color="red" v-on:click="initiativeOrder()" v-else>
                                Sort
                            </v-btn>
                            <v-btn flat color="red" v-on:click="clearMobs()">
                                Clear
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-tab-item>
            </v-tabs>
        </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import axios from 'axios';

const API_URL = 'http://localhost:9000';

export default {
  name: 'Dice',
  data() {
    return {
        dice: [{ done: false, type: "d4", value: 4, roll: 0 },
        { done: false, type: "d6", value: 6, roll: 0 },
        { done: false, type: "d8", value: 8, roll: 0 },
        { done: false, type: "d10", value: 10, roll: 0 },
        { done: false, type: "d12", value: 12, roll: 0 },
        { done: false, type: "d20", value: 20, roll: 0 }
        ],
        mobs: [],
        players: [],
        total: 0,
        name: "",
        first_name: "",
        roll: 0,
        visible: false,
        damage: 0,
        dice_rolled: false,
        initiative_order: [],
        sorted: false
    };
  },
  methods: {
    rollDice: function(die){
        die.done = true;
        die.roll = Math.floor(Math.random() * Math.floor(die.value)) + 1
        if(die.value != 20){
            this.total += die.roll
        }
    },
    clear: function(){
        for(let i = 0; i<this.dice.length; i++){
            this.dice[i].done = false;      	
      };
        this.total = 0;
        this.dice_rolled = false;	
    },
    addToMobs: function(name){
        this.mobs.push({name: name, done: false, value: 20, roll: 0})
        this.visible = true;
    },
    addToPlayers: function(first_name, roll){
        this.players.push({name: first_name, done:false, roll:parseInt(roll, 10)})
        this.visible = true;
        this.initiative_order.push({name:first_name, roll:roll});
    },
    clearMobs: function(){
        this.mobs = [];
        this.players = [];
        this.visible = false;
        this.initiative_order = [];
        this.sorted = false;
    },
    initiativeOrder: function(){
        this.initiative_order.sort((a, b) => (a.roll - b.roll) * -1);
        this.sorted = true;
        this.mobs = [];
        this.players = [];
    },
    getInitiative: function(mob){
        mob.done = true;
        mob.roll = Math.floor(Math.random() * Math.floor(mob.value)) + 1;
        this.initiative_order.push({name:mob.name, roll:mob.roll});
    },
    addDamage: function(damage){
        if(this.dice_rolled === false){
            this.damage = parseInt(damage, 10);
            this.total = this.total + this.damage;
            this.dice_rolled = true;
        }
    },
  },
};
</script>

<style scoped>
#dice{
  margin-top: 10px;
}
</style>
