<template>
  <v-container fluid>
    <v-layout row wrap>
      <v-flex xs12 md6>
        <v-container fluid>
          <v-layout row wrap>
            <v-flex xs8>
              <div class="headline">Group Info</div>
              <v-container fluid grid-list-xs>
                <v-layout row wrap>
                  <template v-for="(group, index) in groups">
                    <v-flex xs5 :key="`${index}players`">
                      <v-select label="Players" :items="players" v-model="groups[index].players"></v-select>
                    </v-flex>
                    <v-flex xs5 :key="`${index}levels`">
                      <v-select label="Level" :items="levels" v-model="groups[index].levels"></v-select>
                    </v-flex>
                    <v-flex xs2 :key="`${index}delete`" v-if="index > 0">
                      <v-btn icon color="error" @click="deleteGroup(index)">
                        <v-icon round>close</v-icon>
                      </v-btn>
                    </v-flex>
                  </template>
                  <v-flex xs12>
                    <v-btn color="primary" @click="addGroup">Add another group</v-btn>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-flex>
            <v-flex xs4>
              <v-card>
                <v-card-title class="subheading font-weight-bold">Thresholds</v-card-title>
                <v-divider></v-divider>
                <v-list dense>
                  <v-list-tile>
                    <v-list-tile-content>Easy:</v-list-tile-content>
                    <v-list-tile-content class="align-end">
                      {{ thresholds.easy }}xp
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-list-tile>
                    <v-list-tile-content>Medium:</v-list-tile-content>
                    <v-list-tile-content class="align-end">
                      {{ thresholds.medium }}xp
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-list-tile>
                    <v-list-tile-content>Hard:</v-list-tile-content>
                    <v-list-tile-content class="align-end">
                      {{ thresholds.hard }}xp
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-list-tile>
                    <v-list-tile-content>Deadly:</v-list-tile-content>
                    <v-list-tile-content class="align-end">
                      {{ thresholds.deadly }}xp
                    </v-list-tile-content>
                  </v-list-tile>
                </v-list>
                <v-list dense>
                  <v-divider></v-divider>
                  <v-list-tile>
                    <v-list-tile-content>Daily Budget:</v-list-tile-content>
                    <v-list-tile-content class="align-end">
                      {{ thresholds.budget }}xp
                    </v-list-tile-content>
                  </v-list-tile>
                </v-list>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
        <v-spacer></v-spacer>
      </v-flex>
      <v-flex xs12 md6>
        <v-text-field v-model="search" label="Search for Monster"></v-text-field>
        <v-data-table :headers="headers" :items="monsters" :search="search">
          <template slot="items" slot-scope="props">
            <tr>
              <td>{{ props.item.name }}</td>
              <td>{{ props.item.armorClass }}</td>
              <td>{{ props.item.healthPoints }}</td>
              <td>{{ props.item.challengeRating }}</td>
              <td>{{ props.item.experience }}</td>
            </tr>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { getThreshold, getMonsters, getExperience } from '../services';

export default {
  name: 'Monsters',
  data() {
    return {
      cr: null,
      groups: [{ players: 1, levels: 1 }],
      headers: [
        {
          text: 'Name',
          value: 'name'
        },
        {
          text: 'AC',
          value: 'armorClass'
        },
        {
          text: 'HP',
          value: 'healthPoints'
        },
        {
          text: 'CR',
          value: 'challengeRating'
        },
        {
          text: 'XP',
          value: 'experience'
        }
      ],
      levels: [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12,
        13,
        14,
        15,
        16,
        17,
        18,
        19,
        20
      ],
      monsters: [],
      players: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
      search: ''
    };
  },
  computed: {
    thresholds() {
      return this.groups.reduce(
        (thresholds, group) => {
          const threshold = getThreshold(group.levels);
          thresholds.budget += threshold.budget * group.players;
          thresholds.easy += threshold.easy * group.players;
          thresholds.medium += threshold.medium * group.players;
          thresholds.hard += threshold.hard * group.players;
          thresholds.deadly += threshold.deadly * group.players;
          return thresholds;
        },
        {
          budget: 0,
          easy: 0,
          medium: 0,
          hard: 0,
          deadly: 0
        }
      );
    }
  },
  methods: {
    async initialize() {
      // const cr = await axios(`${API_URL}/challenge_rating`).then(res => {
      //   const data = res.data.sort((a, b) => {
      //     if (a.value > b.value) return 1;
      //     if (b.value > a.value) return -1;
      //     return 0;
      //   });

      //   return data.reduce((ratings, cr) => {
      //     ratings.set(cr.id, { name: cr.name, value: cr.value });
      //     return ratings;
      //   }, new Map());
      // });

      // const monsters = await axios(`${API_URL}/monsters`).then(res => {
      //   return res.data
      //     .sort((a, b) => {
      //       if (a.name > b.name) return 1;
      //       if (a.name < b.name) return -1;
      //       return 0;
      //     })
      //     .map(monster => {
      //       monster.experience = cr.get(monster.challenge_rating).value;
      //       monster.challenge_rating = cr.get(monster.challenge_rating).name;
      //       return monster;
      //     });
      // });

      // this.cr = cr;
      // this.monsters = monsters;
      const monsters = await getMonsters();
      this.monsters = monsters.map(monster => {
        monster.experience = getExperience(monster.challengeRating);
        return monster;
      });
    },
    addGroup() {
      const groups = this.groups.slice();
      groups.push({
        players: 1,
        levels: 1
      });
      this.groups = groups;
    },
    deleteGroup(index) {
      this.groups = this.groups.filter((_, i) => i !== index);
    }
  },
  mounted() {
    this.initialize();
  }
};
</script>

<style scoped>
#monsters {
  margin-top: 10px;
}
</style>
